#submitButton{
    text-transform: uppercase;
}
.buttonWrapper{
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center; 
}

.text{
    padding-top: 0px;
}

.container{
    background-color:#FFFFFF;
}

.spacer{
    width: 281px;
    height: 216px;
    line-height: 216px;
    text-align: center;
}

span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}